<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p1> Categories </p1>

    {% for cat in categories %}
    <p>
        <a href="{{cat.get_absolute_url}}"> {{cat.name}} </a>
    </p>
    {% endfor %}    

    <p1> Gifs </p1>

    {% for gif in gifs %}
    <p>
        <img src={{gif.url}}> 
    </p>
    {% endfor %}
</body>
</html>