{% block content %}

{% include 'partials/_topbar_with_user.html' %}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

<style>
    .card{margin-bottom:20px;}
</style>


<section id="listings" class="py-4">
    <div class="container">
      <div class="row">
        {% if saved_courses %}
            {% for course in saved_courses %}
              <div class="card text-center border-secondary">
                <div class="card-header bg-warning text-black">
                  <strong>{{course.course_id}}</strong>
                </div>
                <div class="card-body">
                  <h5 class="card-title">{{course.name}}</h5>
                  <p class="card-text">Description: {{course.description}}</p>
                  <p> Grading Method: {{course.grading_method}}&emsp;&emsp;&emsp;&emsp;Credits: {{course.credits}}
                    &emsp;&emsp;&emsp;&emsp;Gen Ed: {{course.gen_ed}} &emsp;&emsp;&emsp;&emsp; Core: {{course.core}} 
                  </p> 
                  <a href="{% url 'list_professors' course.course_id user %}" class="btn btn-danger professor_button">Show Professors</a>
                </div>
              </div>
            {% endfor %}
        {% endif %}
      </div>
    </div>
  </section>  


  {% endblock content %}
