body{
    background-color: slateblue;
}

form{
    display:block;
    margin-left: 450px;
    margin-top: 10%;
    margin-bottom: 10%;
    background: lightgray;
    width:30%;
    height:50vh;
    position: absolute;
    text-align: center;
}
#input{
    margin-top: 10%;
}
#button{

    margin-top: 5%;
}
.listTasks{
    background-color: lightgray;

}

