{% extends 'base.html' %}
{% block title%} | Dashboard {% endblock%}
{% block content %}



  <!-- Breadcrumb -->
  <section id="bc" class="mt-3">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="index.html">
              <i class="fas fa-home"></i> Home</a>
          </li>
          <li class="breadcrumb-item active"> Dashboard</li>
        </ol>
      </nav>
    </div>
  </section>

  <section id="dashboard" class="py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>Welcome {{user}}</h2>
          <p>You have not enquired about an properties Yet!</p>
          <table class="table">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col"></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td></td>
                <td></td>
                <td>
 
                </td>
              </tr>
              <tr>

                </td>
              </tr>
              <tr>

                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>

  {% endblock content %}